<div class="btn_left"></div>
<div class="btn_right"></div>
<div class="menu_content"></div>
<script type="text/template" id="brick_template">
    <div id="<%= id %>" class="brick" data-name="<%= name %>" data-color="<%= colors[color] %>" style="background-color:<%= utilities.colorLuminance(colors[color], luminence) %>; width:<%= position.width %>; height:<%= position.height %>; left:<%= position.left %>; top:<%= position.top %>;">
        <div class="screen_center">
        </div>
    </div>
</script>