.screen{
    width:100%;
    height:100%;
    position:absolute;
}
.screen_center{
    width:200px;
    height:200px;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.menu_content{
    width:auto;
    height:100%;
    position:absolute;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.menu_screen{
    width:100%;
    height:100%;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.center_svg{
    width:80%;
    height:80%;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
}
.brick{
    width:200px;
    height:200px;
    float:left;
    position:absolute;
    overflow: hidden;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.left_arrow{
    z-index: 99;
    position:absolute;
    left:-50px;
    top:0;
    bottom:0;
    margin:auto;
    width:50px;
    height:100px;
    background-image:url(pages/menu/images/left_arrow.png);
}
.right_arrow{
    z-index: 99;
    position:absolute;
    right:-50px;
    top:0;
    bottom:0;
    margin:auto;
    width:50px;
    height:100px;
    background-image:url(pages/menu/images/right_arrow.png);
}