.pop_content{
    position: fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.4);
    width:100%;
    height:100%;
    z-index: 999999;
}
.pop_component{
    display: table;
    background-color: #FFF;
    top:150%;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    max-width: 500px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    width: 300px;
}
.pop_content *{
    box-sizing: border-box;
}
.pop_title{
    padding:20px;
    font-size: 23px;
    color:#333;
    text-align: center;
    width:100%;
    border-bottom:1px solid #E3E3E3;
}
.pop_message{
    font-size: 14px;
    color:#999;
    padding:20px;
    background-color:#F9F9F9;
    border-bottom:1px solid #E3E3E3;
    max-height:450px;
    overflow: scroll;
}
.pop_buttons{
    text-align: center;
    padding:20px;
}