#drawing_page{
    background: #FFF;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    position: absolute;
    width:90%;
    height:100%;
    overflow: hidden;
}
#drawing_tools{
    width:100px;
    position: absolute;
    top:100px;
    right:0;
}
.color_selected{
    border:5px solid #FFF;
    box-sizing:border-box;
}
.tool{
    width:100px;
    height:50px;
    position:absolute;
    left:100px;
    background-color: #F9F9F9;
    z-index: 9;
}
.tool.selected svg{
    width: 130%;
    left: -30%;
}
.tool svg{
    left:0%;
    width:100%;
    height:100%;
    position: absolute;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
#drawing_colors{
    position:absolute;
    left:0px;
    width:100px;
    top:0px;
}

.color_picker{
    width:50px;
    height:50px;
    float:left;
    box-sizing: border-box;
    
    -webkit-transition: border .2s linear;
    -moz-transition: border .2s linear;
    -ms-transition: border .2s linear;
    -o-transition: border .2s linear;
    transition: border .2s linear;
}