.purple{
    background-color: #612B9B;   
}
.green{
    background-color: #44AC34;
}
.orange{
    background-color: #FF821D;
}
.yellow{
    background-color: #FFCF00;
}
.pink{
    background-color: #E41694;
}
.blue{
    background-color: #042367;
}
.lighblue{
    background-color: #33CAD2;
}
.red{
    background-color: #DA0036;
}
.grey{
    background-color: #7D868B;
}
.sblue{
    background-color: #465FC4;
}
.dgreen{
    background-color: #008274;
}
.grey{
    background-color: #7D868B;
}
.maroon{
    background-color: #784217;
}
.fblue{
    background-color: #0095A7;
}
